/* 
Doing so ensures that those styles are read first and that all of the different web browsers 
are working from a common baseline. 
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*_______________________________________________________________________________________________________________________*/
/*Eric Meyer’s reset done*/
/*_______________________________________________________________________________________________________________________*/



/*General on all pages*/
/*=======================================================================================================================*/

html {
    font-size: 10px;
	font-family: 'Libre Caslon Text', serif;
	color: darkslategrey
    }

body .gridpage{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(200px, auto);
	margin: auto;
	}

/*header*/
/*---------------------------------------------------------------------------------*/

.gridmosaicheader{
	grid-column: 1 / 13;
	grid-row: 1 / 2;
	background-color: hsl(5, 56%, 35%); /*bordeau #8C3027*/
	}

header .gridactiononheader{
	display: grid;
	grid-template-columns: 20% 1fr;
	margin: 0 auto;
	}

header .gridactiononheader nav ul{
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	font-size: 1.5rem;
	color: whitesmoke;
	padding: 20px;
	}

header .gridactiononheader div nav ul{
	list-style-type: none;
	overflow: hidden;
	background-color: hsl(5, 56%, 35%); /*bordeau #8C3027*/
	color: whitesmoke;
	text-align:center;
	text-decoration: none;
	}

.nounderline{ /*create a classe to make navigation white*/
	text-decoration: none;
	color:white;
	}

header .gridactiononheader div nav ul li a:hover{ /*create a classe to make navifation uppercase white*/
	background-color: hsl(5, 56%, 35%); /*bordeau #8C3027*/
	color: whitesmoke;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	}

/*_______________________________________________________________________________________________________________________*/
/*WELCOME PAGE*/
/*_______________________________________________________________________________________________________________________*/


/*WELCOME PAGE - Use Grid to make block*/
/*============================================================================================*/



.gridmosaictitle{
	grid-column: 1 / 13;
	grid-row: 2 / 5;
	background-color: hsl(39,35%,92%); /*white flowers #F2EDE4*/
	}

.gridmosaicphoto{
	grid-column: 1 / 13;
	grid-row: 5 / 8;
	background-color: hsl(39,35%,92%); /*white flowers #F2EDE4*/
	}

.gridmosaicfooter{
	grid-column: 1 / 13;
	grid-row: 8 / end;
	background-color: hsl(39,35%,92%); /*white flowers #F2EDE4*/
	}


/*WELCOME PAGE - block with more details*/
/*============================================================================================*/


/*WELCOME PAGE - main*/
/*---------------------------------------------------------------------------------*/

.gridmosaictitle{
	font-size: 3rem;
	padding: 50px 100px;
	}

.gridmosaicphoto{
	display: grid;
	grid-template-columns: 50% 1fr 1fr 1fr;
	background-color: #76A682;
	color:whitesmoke;
	font-size: 1.3rem;
	}

main section div .coloronnotvisibletext{
	background-color: hsl(39,35%,92%); /*white flowers #F2EDE4*/
	color: hsl(39,35%,92%);
	padding: 95px;
	}

.paddingontextbeetweenpictures{
	padding: 20px;
	}

/*WELCOME PAGE - footer*/
/*---------------------------------------------------------------------------------*/

.gridmosaicfooter{
	display: grid;
	grid-template-columns: 40% 60%;
	margin: 0 auto;
	}

.gridmosaicservices{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-size: 1.3rem;
	padding: 20px 30px;
	text-align: center;
	}

footer .coloronnotvisibletextleftbottom{
	background-color: #34593D;
	color: #34593D;
	}

/*_______________________________________________________________________________________________________________________*/
/*CONTACTS*/
/*_______________________________________________________________________________________________________________________*/

/*CONTACTS - main*/
/*---------------------------------------------------------------------------------*/


.contactmain{
	display: grid;
	grid-template-columns: 50px 1fr 1fr 50px;
	grid-auto-rows: minmax(200px, auto);
	background-color: hsl(39,35%,92%); /*white flowers #F2EDE4*/
}

.contactphoto{
	display: grid;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background-color: hsl(39,35%,92%); /*white flowers #F2EDE4*/
	}

.formulary{
	display: grid;
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	background-color: hsl(39,35%,92%); /*white flowers #F2EDE4*/
	font-size: 1.5rem;
	padding: 10px;
	}

.contactsarea{
	display: grid;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-color: #76a682;
	font-size: 1.5rem;
	padding-left: 100px;
	padding-right: 100px;
}

.googlemap{
	display: grid;
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	background-color: #76a682;
	font-size: 1.5rem;
	padding : 20px;
}


:required{
	background-color: #4a8c5b;	   /*FORMULARY*/
	}

.mapouter{ 							/*GOOGLE MAP*/
	position:relative;
	text-align:right;
	height:250px;
	width:300px;
	}
.gmap_canvas{						/*GOOGLE MAP*/
	overflow:hidden;
	background:none;
	height:250px;
	width:300px;
	}

table .tablespace{					/*CONTACT TABLE : make a separation between line 2 and 3*/
	color: #76a682;
}

/*_______________________________________________________________________________________________________________________*/
/*SPECIALISTS*/
/*_______________________________________________________________________________________________________________________*/


/*_______________________________________________________________________________________________________________________*/
/*OPENING HOURS*/
/*_______________________________________________________________________________________________________________________*/


/*_______________________________________________________________________________________________________________________*/
/*ABOUT US*/
/*_______________________________________________________________________________________________________________________*/


/*_______________________________________________________________________________________________________________________*/
/*URGENCIES*/
/*_______________________________________________________________________________________________________________________*/


/*_______________________________________________________________________________________________________________________*/
/*FOOTER for all*/
/*_______________________________________________________________________________________________________________________*/

.footerforotherpages{
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 1fr;
	background-color: #34593D;
	padding-left: 100px;
	}

